name: Deploy website on push
on: 
  push:
    branches:
      - main
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: rp.info.bo
        username: landing@rp.info.bo
        password: ${{ secrets.ftp_password }}
